/*Geral*/
.weightTitle {
  font-weight: 600 !important;
}

.greyBorder {
  border: 1px solid #d3d3d3;
}

.boldFont {
  font-weight: 500;
}

label,
input,
textarea,
a.small,
option,
.form-select {
  font-family: "Quicksand", "Montserrat", sans-serif !important;
}

.form-select,
#data_nasc {
  color: #6C757D !important;
}

a.small {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
a.small:hover {
  color: #005e89 !important;
}

.asterisk {
  color: #005e89 !important;
  font-weight: bold;
  font-size: 20px;
}

.reSize {
  width: 150px;
  height: auto;
}

/*Login*/

.bg_login {
  background-image: url("../img/fundo_cinza.png");
  width: 100%;
  background-size: cover;
}

/*Register*/
.descricao {
  font-size: 14px;
  font-family: "Quicksand", "Montserrat", sans-serif !important;
}

.bg_login_reg {
  background-image: url("../img/fundo_cinza_g_reg.png");
  width: 100%;
  background-size: cover;
}

.label_margin {
  margin-left: -1%;
}

input.invalid {
  background-color: #ffdddd;
}

@media only screen and (max-width: 600px) {
  .label_margin {
    margin-left: 0;
  }
}
