/*Fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  color: #000000 !important;
}

p {
  font-family: "Avenir Book", "Roboto", "Open Sans", sans-serif !important;
  color: #000000 !important;
  font-size: 16px !important;
}

h1 {
  font-size: 28px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

.fontWhite {
  color: #ffffff !important;
}

a.linkIcons {
  text-decoration: none;
  color: #000000;
}

a.linkIcons:hover {
  text-decoration: none;
  color: #005e89;
}

a.linkIconsStudy {
  text-decoration: none;
  color: #000000;
}

a.linkIconsStudy:hover {
  text-decoration: none;
  color: #ae0168;
}

/************************************************************************************/

/*scrollbar*/
::-webkit-scrollbar {
  width: 8px !important;
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(#005e89, #ae0168);
  background-color: #000000;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

/************************************************************************************/

/*Buttons*/
.buttonDesign {
  padding: 0.1rem;
  font-size: 16px;
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}

.buttonStudy {
  border: 0.1em solid #ae0168;
  color: #ae0168;
}

.buttonStudy:hover {
  background-color: #ae0168;
  color: #ffffff;
  border: 0.1em solid #ae0168;
}

.buttonWork {
  border: 0.1em solid #005e89;
  color: #005e89;
}

.buttonWork:hover {
  background-color: #005e89;
  color: #ffffff;
  border: 0.1em solid #005e89;
}

a .buttonWork {
  color: #005e89 !important;
}

a .buttonWork:hover {
  color: #ffffff !important;
}

.buttonCancel {
  border: 0.1em solid #000000;
  color: #000000;
}

.buttonCancel:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0.1em solid #000000;
}

.buttonLoginSize {
  width: 8rem;
}

.buttonHomeSize {
  width: 14rem;
}

/* a .buttonHomeSize {
  text-decoration: none;
  color: #005e89;
}

a .buttonHomeSize:hover {
  text-decoration: none;
  color: #ffffff;
}

a .buttonLoginSize {
  text-decoration: none;
  color: #005e89;
}

a .buttonLoginSize:hover {
  text-decoration: none;
  color: #ffffff;
} */

.buttonHome {
  border: 0.1em solid #000000;
  color: #000000;
}

.buttonHome:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0.1em solid #000000;
}

.buttonRegisterSize {
  width: 8rem;
}

.buttonRegisterSizeHEI {
  width: 16rem;
}

.buttonHomeCompSize {
  width: 10rem;
}

/* .buttonRegisterSize a {
  text-decoration: none;
  color: #000000;
}

.buttonRegisterSize a:hover {
  text-decoration: none;
  color: #ffffff;
}

.buttonRegisterSizeHEI a {
  text-decoration: none;
  color: #000000;
}

.buttonRegisterSizeHEI a:hover {
  text-decoration: none;
  color: #ffffff;
} */

/************************************************************************************/

/*backgrounds*/
.greyBg {
  background-color: #f8f8f8;
}

/************************************************************************************/

/*No horizontal scroll*/
body {
  overflow-x: hidden !important;
}

/************************************************************************************/

/*Footer*/
.footer {
  background: #eeeeee;
  color: #000000;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: #000000;
  transition: color 0.2s;
  text-decoration: none;
  font-family: "Avenir Book", "Roboto", "Open Sans", sans-serif !important;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #005e89;
}
.footer .aboutCompany i {
  font-size: 25px;
}
.footer .aboutCompany a {
  color: #000000;
  transition: color 0.2s;
}
.footer .aboutCompany a:hover {
  color: #005e89;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .socialLinks a {
  text-decoration: none;
}

/************************************************************************************/

/*Shadow*/

.shadowCard {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

/*Breadcrumbs*/

.breadcrumb-item,
.breadcrumb-item a {
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  color: #000000 !important;
  font-size: 14px !important;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  font-weight: 600 !important;
  color: #005e89 !important;
}

.breadcrumb-item.active {
  font-weight: 600 !important;
}

/*HiLives Stories*/
a.linkStory {
  color: #000000 !important;
  text-decoration: none !important;
}

.status {
  margin: 11px 0;
}

.wrapperStory {
  background-color: #ffffff;
  margin: 50px auto 0;
  border-radius: 0.25rem;
  padding: 30px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.profile-pic {
  width: 40px;
  height: auto;
  float: left;
  margin-right: 8px;
  border-radius: 50%;
}

.name {
  margin-bottom: 5px;
}

.img-content {
  max-width: 600px;
  margin-bottom: 11px;
}

audio {
  width: 96%;
}

/*BUTTON CLOSE*/
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:hover {
  color: #000;
  text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a.close.disabled {
  pointer-events: none;
}
