/*Geral*/
a.linkRequest {
  color: #000000 !important;
  text-decoration: none;
}

a.linkRequest.create:hover {
  color: #ae0168 !important;
  text-decoration: none;
}

a.linkRequest.edit:hover {
  color: #005e89 !important;
  text-decoration: none;
}

.accordion-button {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.accordion-item {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.bgGreyReq,
.accordion-body {
  background-color: #f8f8f8;
}

.breadcrumb.reqBreadcrumb {
  margin-bottom: 0 !important;
  padding-bottom: 1rem !important;
}

.textPink {
  color: #ae0168 !important;
}

.textBlue {
  color: #005e89 !important;
}

.imageLearn {
  width: 100%;
  display: block !important;
  margin: auto !important;
  text-align: center;
}

/*Match cards*/
.list {
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  list-style: none;
  background-color: #ffffff;
  padding: 15px 15px 15px 25px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.listStudy {
  background-image: linear-gradient(
    90deg,
    #ae0168 10px,
    #ffffff 10px,
    #ffffff 11px,
    transparent 11px
  );
}

.listWork {
  background-image: linear-gradient(
    90deg,
    #005e89 10px,
    #ffffff 10px,
    #ffffff 11px,
    transparent 11px
  );
}

/*Media queries info page*/
.bg-white {
  background-color: #ffffff;
}

.bgCoverSection {
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (min-width: 1901px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MinWidth_1901.png");
    width: 100%;
    background-position: center;
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MinWidth_1901.png");
    width: 100%;
    background-position: center;
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 28%;
  }

  .bg-whiteSizeAdjust{
    min-width: 546px;
  }
}

@media only screen and (max-width: 1900px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_1900.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_1900.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 28%;
  }

  .bg-whiteSizeAdjust{
    min-width: 546px;
  }
}

@media only screen and (max-width: 1580px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_1580.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_1580.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 42%;
    margin-right: 23%;
  }

  .bg-whiteSizeAdjust{
    min-width: 546px;
  }
}

@media only screen and (max-width: 1350px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_1350.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_1350.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 50%;
    margin-right: 10%;
  }

  .bg-whiteSizeAdjust{
    min-width: 540px;
  }
}

@media only screen and (max-width: 1260px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_1260.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_1260.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 13%;
  }

  .bg-whiteSizeAdjust{
    min-width: 546px;
  }
}

@media only screen and (max-width: 1199px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_1199.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_1199.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 9%;
  }

  .bg-whiteSizeAdjust{
    min-width: 546px;
  }
}

@media only screen and (max-width: 1024px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_1024.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_1024.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 50%;
    margin-right: 0;
  }

  .bg-whiteSizeAdjust{
    min-width: 512px;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-white {
    max-width: 555px;
  }
}

@media only screen and (max-width: 800px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_800.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_800.png");
  }

  .bg-white {
    max-width: 555px;
    float: right;
    margin-left: 53%;
    margin-right: 0;
  }

  .bg-whiteSizeAdjust{
    min-width: 376px;
  }
}

@media only screen and (max-width: 767px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/maxWidth_767.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_767.png");
  }

  .bg-white {
    max-width: 767px;
    min-height: 358px;
  }
}

@media only screen and (max-width: 420px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_420.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_420.png");
  }

  .bg-white {
    max-width: 420px;
    min-height: 396px;
  }
}

@media only screen and (max-width: 380px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_380.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_380.png");
  }

  .bg-white {
    max-width: 420px;
    min-height: 421px;
  }
}

@media only screen and (max-width: 320px) {
  .CreateBg {
    background-image: url("../img/tutorCreate/MaxWidth_320.png");
  }

  .EditBg {
    background-image: url("../img/tutorEdit/MaxWidth_320.png");
  }

  .bg-white {
    max-width: 767px;
    min-height: 421px;
  }
}

/*Media Queries hide section*/
@media only screen and (max-width: 767px) {
  .smallBg {
    display: block;
  }

  .bigBg {
    display: none;
  }

  .bgCoverSection {
    min-height: 250px;
  }

  .whiteBg {
    background-color: #ffffff;
  }

  .bg-white {
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .smallBg {
    display: none;
  }

  .bigBg {
    display: block;
  }

  .bgCoverSection {
    min-height: 468px;
  }

  .bg-white {
    min-height: 469px;
  }
}


/*Button*/

p.buttonKnowMore {
  padding: 0.3rem;
  font-size: 14px;
  border-bottom: 0.1em solid #000000;
  display: block;
  margin: auto;
  width: 50%;
  cursor: pointer;
  background: #fff;
}

p.buttonKnowMore:hover {
  color: #005e89 !important;
  border-bottom: 0.1em solid #005e89 !important;
  width: 70%;
}

p.buttonKnowMoreStudy {
  padding: 0.3rem;
  font-size: 14px;
  border-bottom: 0.1em solid #000000;
  display: block;
  margin: auto;
  width: 50%;
  cursor: pointer;
  background: #fff;
}

p.buttonKnowMoreStudy:hover {
  color: #ae0168 !important;
  border-bottom: 0.1em solid #ae0168 !important;
  width: 70%;
}