/*Geral*/
.bgGreyInfo {
  background-color: #f8f8f8;
}

.breadcrumb.infosbreadcrumb {
  margin-bottom: 0 !important;
  padding-bottom: 1rem !important;
}

.boldFont {
  font-weight: bold;
}

ul.ulLearn {
  text-align: center;
  list-style-position: inside;
}

/*Courses*/
.textPink {
  color: #ae0168 !important;
}

.textBlue {
  color: #005e89 !important;
}

/*Tabs*/
.infoTabs .nav-link {
  color: #858585 !important;
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  font-size: 16px !important;
}

.infoTabs.infoCourse .nav-link.active {
  color: #ae0168 !important;
}

.nav-tabs.infoTabs.infoCourse .nav-item.show .nav-link,
.nav-tabs.infoTabs.infoCourse .nav-link.active {
  border-color: #ae0168 #ffffff #ffffff !important;
}

.infoTabs.infoVac .nav-link.active {
  color: #005e89 !important;
}

.nav-tabs.infoTabs.infoVac .nav-item.show .nav-link,
.nav-tabs.infoTabs.infoVac .nav-link.active {
  border-color: #005e89 #ffffff #ffffff !important;
}

.nav-tabs.infoTabs {
  border-top: 1px solid #dee2e6 !important;
  border-bottom: none !important;
}

.nav-tabs.infoTabs .nav-link {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.nav-tabs.infoTabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #ffffff #ffffff #ffffff;
  isolation: isolate;
}

/*Cards*/
.infos {
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.infosSmaller {
  padding: 10px 15px 10px 25px;
}

.itemsInfosCourses {
  background-image: linear-gradient(
    90deg,
    #ae0168 10px,
    #ffffff 10px,
    #ffffff 11px,
    transparent 11px
  );
}

.itemsInfosWork {
  background-image: linear-gradient(
    90deg,
    #005e89 10px,
    #ffffff 10px,
    #ffffff 11px,
    transparent 11px
  );
}

a.linkContacts {
  text-decoration: none !important;
  color: #000000 !important;
}

a.linkContacts:hover {
  color: #ae0168 !important;
}

a.linkContactsBlue {
  text-decoration: none !important;
  color: #000000 !important;
}

a.linkContactsBlue:hover {
  color: #005e89 !important;
}

/*Learning path*/
.imageLearn {
  width: 100%;
  display: block !important;
  margin: auto !important;
  text-align: center;
}

/*Hide text in small screens*/
@media only screen and (max-width: 767px) {
  .textHideSmall {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .textHideSmall {
    display: inline;
  }
}

/*Media queries*/
/*Course and Vacancy banner*/
.bg-whiteInfo {
  background-color: #ffffff;
}

.bgCoverSectionInfo {
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (min-width: 1901px) {
  .CourseBg {
    background-image: url("../img/course/MinWidth_1901.png");
    width: 100%;
    background-position: center;
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MinWidth_1901.png");
    width: 100%;
    background-position: center;
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 28%;
  }
}

@media only screen and (max-width: 1900px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_1900.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_1900.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 28%;
  }
}

@media only screen and (max-width: 1580px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_1580.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_1580.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 42%;
    margin-right: 23%;
  }
}

@media only screen and (max-width: 1350px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_1350.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_1350.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 50%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 1260px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_1260.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_1260.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 13%;
  }
}

@media only screen and (max-width: 1199px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_1199.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_1199.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 28%;
    margin-right: 9%;
  }
}

@media only screen and (max-width: 1024px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_1024.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_1024.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 50%;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-whiteInfo {
    max-width: 555px;
  }
}

@media only screen and (max-width: 800px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_800.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_800.png");
  }

  .bg-whiteInfo {
    max-width: 555px;
    float: right;
    margin-left: 53%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .CourseBg {
    background-image: url("../img/course/maxWidth_767.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_767.png");
  }

  .bg-whiteInfo {
    max-width: 767px;
    min-height: 358px;
  }
}

@media only screen and (max-width: 420px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_420.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_420.png");
  }

  .bg-whiteInfo {
    max-width: 420px;
    min-height: 396px;
  }
}

@media only screen and (max-width: 380px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_380.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_380.png");
  }

  .bg-whiteInfo {
    max-width: 420px;
    min-height: 421px;
  }
}

@media only screen and (max-width: 320px) {
  .CourseBg {
    background-image: url("../img/course/MaxWidth_320.png");
  }

  .VacancyBg {
    background-image: url("../img/vacancy/MaxWidth_320.png");
  }

  .bg-whiteInfo {
    max-width: 767px;
    min-height: 421px;
  }
}

/*Media Queries hide section*/
@media only screen and (max-width: 767px) {
  .smallBg {
    display: block;
  }

  .bigBg {
    display: none;
  }

  .bgCoverSectionInfo {
    min-height: 250px;
  }

  .whiteBg {
    background-color: #ffffff;
  }

  .bg-whiteInfo {
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .smallBg {
    display: none;
  }

  .bigBg {
    display: block;
  }

  .bgCoverSectionInfo {
    min-height: 468px;
  }

  .bg-whiteInfo {
    min-height: 469px;
  }
}
