/*Profile img*/
.profileImg {
  position: relative;
  border-radius: 50%;
}

/*Nav properties*/
.dropdown-toggle::after {
  vertical-align: -0.0255em !important;
}

.navColor {
  background-color: #ffffff;
}
.navbar {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none !important;
}

a.nav-link {
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  color: #000000 !important;
  font-weight: 400;
}

span.name {
  font-family: "Quicksand", "Montserrat", sans-serif !important;
  color: #000000 !important;
  font-weight: 400;
}

.btn.btn-primary.buttonSidebar {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  font-size: 1.3rem !important;
}

.alignMiddle {
  display: flex;
  align-items: center;
}
/*Media queries*/
@media only screen and (max-width: 600px) {
  .logo {
    width: 69px;
  }

  .dropdown-menu[data-bs-popper] {
    left: -116px !important;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
    width: 69px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dropdown-menu[data-bs-popper] {
    left: -107px !important;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 75px;
  }
}

@media only screen and (max-width: 991px) {
  .hideTextNav {
    display: none;
  }

  .navBig {
    display: none;
  }
  .navSmall {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .hideTextNav {
    display: inline;
  }

  .navBig {
    display: block;
  }
  .navSmall {
    display: none;
  }

  .dropdown-menu[data-bs-popper] {
    left: -47px !important;
  }
}
