.heightEqual {
  min-height: 96px !important;
}

.imgProfilePerson {
  border-radius: 100%;
  width: 130px;
  height: 130px;
}

.borderBlue {
  border: 7px solid #005e89;
}

.borderPink {
  border: 7px solid #ae0168;
}
